flows.json
[{"id":"137adf94.9b26b","type":"ibmiot in","z":"4a89207e.e682c","authentication":"apiKey","apiKey":"739205cb.d661bc","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Arduino","applicationId":"","deviceType":"IOT1","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":120,"wires":[["50f8e99c.426b38","9146a3f9.9654c","3bc658cd.36a448","eb7c4ec8.a9bad"]]},{"id":"50f8e99c.426b38","type":"debug","z":"4a89207e.e682c","name":"ouput","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":120,"wires":[]},{"id":"9146a3f9.9654c","type":"function","z":"4a89207e.e682c","name":"humidity","func":"msg.payload = msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":200,"wires":[["50f8e99c.426b38","8bdbeadc.78ee98"]]},{"id":"3bc658cd.36a448","type":"function","z":"4a89207e.e682c","name":"temprature","func":"msg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":260,"wires":[["50f8e99c.426b38","54d202e8.42bcfc"]]},{"id":"eb7c4ec8.a9bad","type":"function","z":"4a89207e.e682c","name":"soil moisture","func":"msg.payload=msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":320,"wires":[["50f8e99c.426b38","974cfad.f11b308"]]},{"id":"8bdbeadc.78ee98","type":"ui_gauge","z":"4a89207e.e682c","name":"","group":"50dfb190.448d6","order":1,"width":6,"height":3,"gtype":"gage","title":"humidity","label":"DC","format":"{{value}}","min":0,"max":"100","colors":["#1100fa","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":200,"wires":[]},{"id":"54d202e8.42bcfc","type":"ui_gauge","z":"4a89207e.e682c","name":"","group":"50dfb190.448d6","order":3,"width":6,"height":3,"gtype":"gage","title":"temperature","label":"dc","format":"{{value}}","min":0,"max":"100","colors":["#b30071","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":260,"wires":[]},{"id":"974cfad.f11b308","type":"ui_gauge","z":"4a89207e.e682c","name":"","group":"50dfb190.448d6","order":5,"width":6,"height":3,"gtype":"gage","title":"soil mosture","label":"Mg","format":"{{value}}","min":0,"max":"100","colors":["#1f02f7","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":320,"wires":[]},{"id":"ba294353.f642d","type":"ibmiot out","z":"4a89207e.e682c","authentication":"apiKey","apiKey":"739205cb.d661bc","outputType":"cmd","deviceId":"Arduino_1","deviceType":"Output","eventCommandType":" command","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":520,"y":20,"wires":[]},{"id":"4c36035d.e7ca9c","type":"ui_switch","z":"4a89207e.e682c","name":"","label":"motor button","tooltip":"","group":"50dfb190.448d6","order":11,"width":5,"height":2,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"command\":\"Motor On\"}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"command\":\"Motor Of\"}","offvalueType":"json","officon":"","offcolor":"","x":310,"y":60,"wires":[["ba294353.f642d","50f8e99c.426b38"]]},{"id":"739205cb.d661bc","type":"ibmiot","z":"","name":"IOT_1","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"50dfb190.448d6","type":"ui_group","z":"","name":"Smart_Farming","tab":"211fe964.278a16","order":2,"disp":true,"width":20,"collapse":false},{"id":"211fe964.278a16","type":"ui_tab","z":"","name":"Farmer App","icon":"dashboard","disabled":false,"hidden":false}]