node flow.json
[{"id":"4a89207e.e682c","type":"tab","label":"My project","disabled":false,"info":""},{"id":"50f8e99c.426b38","type":"debug","z":"4a89207e.e682c","name":"ouput","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":120,"wires":[]},{"id":"9146a3f9.9654c","type":"function","z":"4a89207e.e682c","name":"humidity","func":"msg.payload = msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":200,"wires":[["50f8e99c.426b38","8bdbeadc.78ee98"]]},{"id":"3bc658cd.36a448","type":"function","z":"4a89207e.e682c","name":"temprature","func":"msg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":260,"wires":[["50f8e99c.426b38","54d202e8.42bcfc"]]},{"id":"eb7c4ec8.a9bad","type":"function","z":"4a89207e.e682c","name":"soil moisture","func":"msg.payload=msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":320,"wires":[["50f8e99c.426b38","974cfad.f11b308"]]},{"id":"8bdbeadc.78ee98","type":"ui_gauge","z":"4a89207e.e682c","name":"","group":"50dfb190.448d6","order":1,"width":7,"height":3,"gtype":"gage","title":"humidity","label":"DC","format":"{{value}}","min":0,"max":"100","colors":["#1100fa","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":200,"wires":[]},{"id":"54d202e8.42bcfc","type":"ui_gauge","z":"4a89207e.e682c","name":"","group":"50dfb190.448d6","order":2,"width":7,"height":3,"gtype":"gage","title":"temperature","label":"dc","format":"{{value}}","min":0,"max":"100","colors":["#b30071","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":260,"wires":[]},{"id":"974cfad.f11b308","type":"ui_gauge","z":"4a89207e.e682c","name":"","group":"50dfb190.448d6","order":3,"width":6,"height":3,"gtype":"gage","title":"soil mosture","label":"Mg","format":"{{value}}","min":0,"max":"100","colors":["#1f02f7","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":320,"wires":[]},{"id":"a650757a.b33cb8","type":"ibmiot in","z":"4a89207e.e682c","authentication":"apiKey","apiKey":"a5f83178.284d2","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Arduino","applicationId":"","deviceType":"IOT1","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":260,"wires":[["9146a3f9.9654c","3bc658cd.36a448","eb7c4ec8.a9bad"]]},{"id":"ae09bb0e.f57688","type":"ibmiot out","z":"4a89207e.e682c","authentication":"apiKey","apiKey":"739205cb.d661bc","outputType":"cmd","deviceId":"Arduino","deviceType":"IOT1","eventCommandType":"command","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":480,"y":20,"wires":[]},{"id":"21a20443.e4bb2c","type":"ui_switch","z":"4a89207e.e682c","name":"","label":"Motor button","tooltip":"","group":"50dfb190.448d6","order":5,"width":5,"height":2,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"command\":\"Motor On\"}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"command\":\"Motor Off\"}","offvalueType":"json","officon":"","offcolor":"","x":190,"y":60,"wires":[["ae09bb0e.f57688","50f8e99c.426b38"]]},{"id":"13c7e848.286698","type":"ui_date_picker","z":"4a89207e.e682c","name":"","label":"date","group":"9ab33e61.9c198","order":1,"width":1,"height":1,"passthru":true,"topic":"Date","x":710,"y":60,"wires":[["50f8e99c.426b38"]]},{"id":"a8ca9327.33787","type":"inject","z":"4a89207e.e682c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":440,"wires":[["e1ab632d.33f77"]]},{"id":"e1ab632d.33f77","type":"http request","z":"4a89207e.e682c","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Mumbai, IN &appid=a3579a971611c787fafd161c11a185e8","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":440,"wires":[["50f8e99c.426b38","efd76dd0.f3966","4bc4d364.69447c","bc434a77.2cfc08","eddabea4.f3d1a"]]},{"id":"efd76dd0.f3966","type":"change","z":"4a89207e.e682c","name":"temp.","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":440,"wires":[["a0ba2a8b.0ef838"]]},{"id":"a0ba2a8b.0ef838","type":"ui_text","z":"4a89207e.e682c","group":"9ab33e61.9c198","order":4,"width":11,"height":1,"name":"","label":"Temperature=","format":"{{msg.payload}}","layout":"row-center","x":760,"y":420,"wires":[]},{"id":"838cebcc.7a83e8","type":"ui_text","z":"4a89207e.e682c","group":"9ab33e61.9c198","order":7,"width":11,"height":1,"name":"","label":"Humidity =","format":"{{msg.payload}}","layout":"row-center","x":780,"y":500,"wires":[]},{"id":"1edae221.e968fe","type":"ui_text","z":"4a89207e.e682c","group":"9ab33e61.9c198","order":10,"width":11,"height":1,"name":"","label":"pressure =","format":"{{msg.payload}}","layout":"row-center","x":800,"y":560,"wires":[]},{"id":"4bc4d364.69447c","type":"change","z":"4a89207e.e682c","name":"humi","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":500,"wires":[["838cebcc.7a83e8"]]},{"id":"bc434a77.2cfc08","type":"change","z":"4a89207e.e682c","name":"parshya","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":600,"wires":[["1edae221.e968fe"]]},{"id":"e1c26f51.05b13","type":"ui_text","z":"4a89207e.e682c","group":"9ab33e61.9c198","order":13,"width":11,"height":1,"name":"","label":"wind speed =","format":"{{msg.payload}}","layout":"row-center","x":800,"y":660,"wires":[]},{"id":"eddabea4.f3d1a","type":"change","z":"4a89207e.e682c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.wind","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":680,"wires":[["e1c26f51.05b13"]]},{"id":"50dfb190.448d6","type":"ui_group","z":"","name":"Smart_Farming","tab":"211fe964.278a16","order":2,"disp":true,"width":20,"collapse":false},{"id":"a5f83178.284d2","type":"ibmiot","z":"","name":"IOT_1","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"739205cb.d661bc","type":"ibmiot","z":"","name":"IOT_1","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"9ab33e61.9c198","type":"ui_group","z":"","name":"weather ","tab":"643be140.7ade1","order":1,"disp":true,"width":21,"collapse":false},{"id":"211fe964.278a16","type":"ui_tab","z":"","name":"Farmer App","icon":"dashboard","disabled":false,"hidden":false},{"id":"643be140.7ade1","type":"ui_tab","z":"","name":"weather parameters","icon":"dashboard","disabled":false,"hidden":false}]